wechat.azhefuye.online {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    reverse_proxy wechat-batch-rewriter-web-1:80

    log {
        output file /data/access.log
        format json
    }
}
